<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scoreboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Scoreboard</h1>
<table class="fancy">
    <tbody>
    <tr>
        <td>Email</td>
        <td>Forename</td>
        <td>Surname</td>
        <td>Number of eliminations</td>
    </tr>

    <tr th:each="user : ${scoreboard.users()}">
        <td><p th:text="${user.getEmail()}"/></td>
        <td><p th:text="${user.getForename()}"/></td>
        <td><p th:text="${user.getSurname()}"/></td>
        <td><p th:text="${user.getPreviousVictims().size()}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>