<html>

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <title>Elimination</title>
</head>

<body style="background-color: lightgreen">

<div th:if="${winner != null}">
    <h1>Winner: <span style="color: gold" th:text="${winner}"></span></h1>
</div>

<div id="playerWindow" th:if="${eliminationManager.gameIsOngoing() && !currentUser.isEliminated()}">
    <table id="criticalInfoTable">
        <tr>
            <th>
                Your current target
            </th>
            <td style="color: blueviolet; "
                th:text="${currentUser.getTarget()}">
            </td>
        </tr>

        <tr>
            <th>Your secret code</th>
            <td style="color: red "
                th:text="${currentUser.getEliminationCode()}"></td>
        </tr>
    </table>

    <div id="eliminationBox">
        <p style="color: darkblue; margin: .3em 1em .5em;">
            Caught your target?
        </p>
        <form action="/game/eliminate" method="get">
            <input type="text" id="eliminationCode" name="code" placeholder="Target's code"/>
            <input type="submit" value="eliminate"/>
        </form>
    </div>

</div>


<h1 th:if="${currentUser.isEliminated()}"
    th:text="'you have been eliminated by ' + ${currentUser.getEliminatedBy()}"></h1>
<h1 th:if="${currentUser.isWinner()}" th:text="'you won!!'"></h1>
<div th:unless="${eliminationManager.gameIsOngoing()}">
    <span th:if="${eliminationManager.gameHasEnded()}" th:text="'Game over'"></span>
    <span th:unless="${eliminationManager.gameHasEnded()}" th:text="'Game not ongoing'"></span>

</div>

<div th:replace="announcement-fragments :: announcements">

<hr/>
<h1>Scoreboard</h1>
<table class="fancy">
    <tbody>
    <tr>
        <td>Email</td>
        <td>Forename</td>
        <td>Surname</td>
        <td>Number of eliminations</td>
    </tr>

    <tr th:each="user : ${scoreboard.users()}" th:style="${user.isWinner() ? 'color: gold' : ''}">
        <td><p th:text="${user.getEmail()}"></p></td>
        <td><p th:text="${user.getForename()}"></p></td>
        <td><p th:text="${user.getSurname()}"></p></td>
        <td><p th:text="${user.getPreviousVictims().size()}"></p></td>
    </tr>
    </tbody>
</table>

</body>
</html>